@import "_vars";
@import "_global";
@import "_fonts";

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  color: $light;
  position: relative;
  z-index: 3;
}
.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $purple;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
    &::before,
    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}
.header__menu {
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;

  li {
    margin-left: 50px;
  }
}
.header__link {
  color: $light;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.slider__inner {
  img {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.container-fluid {
  position: relative;
}
.slider {
  padding: 80px 0 0;
}
.slider__info {
  max-width: 700px;
  width: 100%;
  padding: 30px 70px;
  position: absolute;
  top: 30%;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30% 70% 68% 32% / 30% 22% 78% 70%;
  .slider__info-title {
    font-size: 40px;
    line-height: 45px;
    color: $light;
    letter-spacing: 2px;
    // white-space: nowrap;
  }
  .slider__info-text {
    color: $light;
    font-size: 20px;
    line-height: 30px;
  }
  .slider__info-btn {
    background-color: transparent;
    border: 2px solid $light;
    color: $light;
    padding: 10px 20px;
    border-radius: 20px;
    width: 300px;
    margin-left: 50px;
    transition: all 0.5s;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    &:hover {
      background-color: $light;
      border: 2px solid $dark;
      color: $dark;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}

.container-content {
  position: relative;
}

.box__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px 0 40px;
}
.about_id{
  height: 50px;
}
.about__title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 35px;
}
.about__text,
.about__text-bottom {
  margin-bottom: 20px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  line-height: 35px;
}
.about__slider {
  width: 600px;
}
.about__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 600px;
  width: 100%;
  min-height: 400px;
  height: 100%;
}
.about__box {
  padding: 33px 40px 18px;
  max-width: 470px;
  position: relative;
  background-color: #fff;
}
.about__box::after,
.about__box::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}
.about__box::before {
  background-image: url(../images/decor-left.svg);
  top: 19px;
  left: 0px;
}
.about__box::after {
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  right: 19px;
  bottom: 19px;
}
.about__box-title {
  color: $dark;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 20px;
}
.about__item:nth-child(even) {
  background-position: left;
}
.about__item:nth-child(even) .about__box {
  margin-left: auto;
}
.about__box-text {
  text-transform: uppercase;

  li {
    margin-bottom: 10px;
    position: relative;
  }
  .opis::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #ecb84c;
    left: -20px;
    top: 7px;
  }
}

.gallery {
  margin-top: 1px;
  margin-bottom: 100px;
}
.gallery__title {
  text-align: center;
  margin: 50px 0;
  font-size: 35px;
}

.gallery__img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.slider-for {
  img {
    width: auto;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.slider-nav img {
  width: 200px;
  height: 200px;
  padding: 20px 5px;
}
.slick-arrow {
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 15px;
  border-radius: 50%;
  outline: none;

  img {
    width: 30px;
    height: 30px;
  }
}
.slick-next {
  position: absolute;
  right: 10px;
}
.slick-prev {
  left: 10px;
}

.gallery__video {
  margin: 50px 0;
}
.gallery__video-inner {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery__video-box {
  max-width: 445px;
  width: 100%;
  margin-left: 60px;
  color: #fff;
  .gallery__video-text {
    line-height: 20px;
  }
}
.gallery__video-title {
  font-size: 30px;
  border-bottom: 2px solid #36aaa0;
  max-width: 390px;
  color: #36aaa0;
}
.contact-title{
  text-align: center;
}
.contact__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0;
  align-items: center;
}
.contact__form {
  margin-right: 50px;
}
.contact__box {
  margin-left: 150px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  width: 400px;

  input {
  }
  textarea {
    resize: none;
    height: 120px;
  }
  input,
  textarea {
    margin-bottom: 30px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid $dark;
    border-radius: 20px;
  }
  .contacts__form-btn {
    background-color: transparent;
    border: 2px solid $dark;
    color: $dark;
    padding: 10px 20px;
    border-radius: 20px;
    width: 400px;
    transition: all 0.5s;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid $dark;
    &:hover {
      background-color: $dark;

      color: $light;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}
.contact__box-info {
  margin-bottom: 30px;
  .info-menu li {
    margin-bottom: 10px;
  }
}
.footer {
  background-color: $dark;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .header::before {
    background-color: #000;
  }
  body.lock {
    overflow: hidden;
  }
  .slider {
    padding: 80px 0 0;
  }
  .header__list {
    display: block;
    li {
      margin-bottom: 20px;
    }
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $purple;
    padding: 100px 0 0;
    transition: all 0.3s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
    &::before,
    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
